amqp
asgiref
billiard
boto3
botocore
celery
certifi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
cloudinary
colorama
coreapi
coreschema
cron-descriptor
Django
django-celery-beat
django-cloudinary-storage
django-cors-headers
django-rest-auth
django-storages
django-timezone-field
djangorestframework
drf-yasg
idna
inflection
iniconfig
itypes
Jinja2
jmespath
kombu
Markdown
MarkupSafe
packaging
pillow
pluggy
prompt_toolkit
psycopg2-binary
Pygments
pytest
pytest-django
python-crontab
python-dateutil
python-dotenv
pytz
PyYAML
requests
s3transfer
six
sqlparse
tzdata
uritemplate
urllib3
vine
wcwidth
whitenoise
